# This is a basic workflow to check Spotless formatting.
name: Spotless Check
# Controls when the action will run. Triggers the workflow on push or pull request events, except
# for pushes to main.
on:
  pull_request:
  push:
    branches-ignore:
      - main
jobs:
  spotless:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    # This grabs the WPILib docker container
    container: wpilib/roborio-cross-ubuntu:2025-22.04
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      # Declares the repository safe and not under dubious ownership.
      - name: Add repository to git safe directories
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      # Grant execute permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      # Runs a single command using the runners shell
      - name: Compile and run tests on robot code
        run: ./gradlew spotlessCheck
